body {
    background-image: url('https://images.unsplash.com/photo-1534438327276-14e5300c3a48?w=1920');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #D2691E;
    text-align: center;
}

h2 {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: #00008B;
}

h3 {
    font-family: Arial;
    font-size: 25px;
    color: #008B8B;
}

p, li {
    font-family: Arial;
}

a:visited {
    color: gray;
}

a:hover {
    font-weight: bold;
    color: red;
}

a:active {
    color: green;
}

table {
    width: 33%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: AntiqueWhite;
}

table, th, td {
    border: 1px solid brown;
}

th, td {
    padding: 8px;
    text-align: center;
}
