body {
    font-family: Arial;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #666;
    margin-top: 30px;
}

.caja-content {
    width: 200px;
    padding: 20px;
    border: 5px solid blue;
    background-color: lightblue;
    margin: 20px 0;
    box-sizing: content-box;
}

.caja-border {
    width: 200px;
    padding: 20px;
    border: 5px solid green;
    background-color: lightgreen;
    margin: 20px 0;
    box-sizing: border-box;
}

p {
    font-style: italic;
    color: #666;
}
