body {
    font-family: Arial;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #666;
    margin-top: 30px;
}

.contenedor {
    border: 2px solid #ccc;
    padding: 10px;
    margin: 20px 0;
    background-color: #f9f9f9;
}

.float-left {
    float: left;
    margin-right: 15px;
}

.float-right {
    float: right;
    margin-left: 15px;
}

.caja {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    border: 2px solid red;
    padding: 10px;
    margin: 5px;
}

.clear-both {
    clear: both;
    background-color: lightyellow;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid orange;
}
