body {
    font-family: Arial;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
    color: #666;
    font-size: 18px;
    margin-bottom: 30px;
}

.caja {
    background-color: lightblue;
    border: 2px solid blue;
    padding: 20px;
    margin: 15px auto;
    width: 300px;
    text-align: center;
    font-size: 18px;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.cursor-wait {
    cursor: wait;
}

.cursor-text {
    cursor: text;
}

.cursor-move {
    cursor: move;
}

.cursor-help {
    cursor: help;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.cursor-crosshair {
    cursor: crosshair;
}

.cursor-grab {
    cursor: grab;
}

.cursor-zoom-in {
    cursor: zoom-in;
}
